ui       = true
api_addr = "https://{{ wireguard_ip }}:8200"

storage "file" {
  path = "/opt/openbao/data"
}

listener "tcp" {
  address       = "{{ wireguard_ip }}:8200"
  tls_cert_file = "/opt/openbao/tls/tls.crt"
  tls_key_file  = "/opt/openbao/tls/tls.key"
}
