exit_after_auth = false
pid_file = "/var/run/openbao-agent/[[ role_name ]].pid"
log_level = "info"

vault {
  address = "[[ vault_addr ]]"
}

auto_auth {
  method "approle" {
    config = {
      role_name     = [[ role_name ]]
      secret_file   = "/etc/openbao-agent/[[ role_name ]]/wrapped_token"
      remove_secret = true
    }
  }

  sink "file" {
    config = {
      path = "/etc/openbao-agent/[[ role_name ]]/.vault-token"
      mode = "0600"
    }
  }
}

cache {
  use_auto_auth_token = true
}

{% if 'certificates' in role_name %}
template {
  destination = "[[ certificate_destination_dir ]]/[[ crt_name ]]"
  contents = <<EOT
{% raw %}
{{ with secret "pki_int/issue/[[ ROLE_NAME ]]" "common_name=[[ FQDN ]]" "ip_sans=[[ WIREGUARD_IP ]]" }}
  {{ .Data.certificate }}
  {{ .Data.issuing_ca }}
{{ end }}
{% endraw %}
EOT
}

template {
  destination = "[[ certificate_destination_dir ]]/[[ key_name ]]"
  contents = <<EOT
{% raw %}
{{ with secret "pki_int/issue/[[ ROLE_NAME ]]" "common_name=[[ FQDN ]]" "ip_sans=[[ WIREGUARD_IP ]]" }}
  {{ .Data.private_key }}
{{ end }}
{% endraw %}
EOT
}
{% endif %}
